*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  }
   
  html{
    scroll-behavior:smooth;
  }
  
  section{
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  /* this makes the top box*/
  section nav {
    display:flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: #282A37;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 6vh;
    
  }
 
  section nav .logo {
    font-size: 12px; 
    color: #ffffff; 
    margin: 5px ;
    cursor: pointer;
    position: relative;
    right: 12.5%; 
    text-align: center; /* Center the text */
  }
  /* adjusts the text when reducing browser size */
  @media screen and (max-width: 1000px) {
    section nav .logo {
      margin: 100px; /* Remove margin to center the text vertically */
    }
  }
  
  section nav ul{
    list-style:none;
    display: flex;
  }
  
  section nav ul li{
    display: inline-block;
    margin: 0px 15px;
    
  }
  
  section .main .main_content{
    display:flex;
    align-items:center;
    justify-content: space-around;
    height: 1200px;
  }
  

  
  /* These next 3 sections adjust the "text sample" header  */
  section .main .main_content .main_text h1{
    font-size: 60px;
    line-height: 70px;
    font-family: pyxidium quick;
    background: linear-gradient (to right,#420101, #c72092);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    position: relative;
    top: 45px;
    left: 5%;
  }
  
  section .main .main_content .main_text h1 span{
    font-size: 70px;
    background: linear-gradient (to right,#420101, #c72092);
      /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  
  }
  
  section .main .main_content .main_text p{
    width: 300px;
    text-align: justify;
    line-height: 21px;
    position: relative;
    top: 50px;
    left: 10px;
  }
  
  /* placement of social icons */
  section .main .social_icon{
  position: absolute; 
  bottom:0%;
  left:50%;
  transform: translate (-50%);
  font-size:19px;
  }
  
  section .main .social_icon i,
  .contact-info {
  margin: 8px 0;
  cursor: pointer;
  transition: 0.3s;
  }

  
/* color change when you hover over fb/linkedin */
.tag .social_link a:hover i {
  color: #585757;
}
  
  section .main .button{
    position: absolute;
    left:6%;
    Top: 85%;
    padding: 10px 20px;
    border-radius: 0px;
    background-color: #555252;
    color: rgb(4, 0, 0);
  }
  
  section .main .button a{
  color: white;
  text-decoration: none; 
  }
  
  section .main .button i{
    color: white;
    margin-left: 5px;
    transition: 0.3s;
  }
  
  section .main .button:hover i{
  transform: translateX(6px);
  }
  
  /* footer */
  footer {
    width: 100%;
    border: 2px solid #040000;
    background-color: white;
  }
  
  .footer-main {
    width: 100%;
    background: #282A37;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: 1px solid #fff;
  }
  
  .footer-main h1 {
    font-size: 20px;
    margin: 20px 200px 0 0;
    color: #ffffff;
  }
  
  .footer-main .footer-contact a,
  .footer-main .footer-links a,
  .footer-main .footer-socials a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin: 5px 100px 0 0; /* Adjusted the right margin to 100px for both sections */
  }

  .footer-main .footer-contact a i {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .footer-main .footer-links li,
  .footer-main .footer-contact li {
    display: block;
    margin: 5px 100px 0 0; /* Adjusted the right margin to 100px for both sections */
  }

  .footer-main .footer-logo img {
    width: 80px;
    height: 40px;
    margin: 20px 100px 0 0;
  }
  
  @media (max-width: 768px) {
    .footer-main .footer-logo img {
      width: 60px; /* Adjust the width for smaller screens */
      height: 40px; /* Adjust the height accordingly */
      margin: 10px 220px 0 0; /* Adjust the margin for spacing */
    }
  }

  @media (max-width: 768px) {
    .footer-main .footer-socials {
      margin: 10px 10px 0 0; /* Adjust the margin for spacing */
    }
  }

  @media (max-width: 768px) {
    .footer-main .footer-contact {
      margin: 10px 0 0 20px; /* Adjust the margin for spacing */
    }
  }


  
  .footer-main .footer-links li {
    display: block;
    margin: 5px 100px 0 0;
  }
  
  .footer-main .footer-socials a i {
    padding: 0 10px;
    transition: 0.3s;
  }
  
  .footer-main .footer-socials a:hover i {
    color: rgb(250, 7, 7);
  }
  
  @media (max-width: 768px) {
    .footer-main {
      flex-direction: column;
      align-items: center;
    }
  }

.copyright,
.copyright-contact {
  width: 100%;
  background: #303443;
  display: flex; 
  justify-content: space-between;
  font-size: 10px;
  color: white;
  padding-top: 5px;
  bottom: 0; /* Align it to the bottom of the container */
  }
  /* .copyright-contact{
  position: absolute; /* Position it absolutely within the container
  font-size: 10px;
    } */

.copyright{
  margin-right: 10px;
}


  /* drop-down menu  */
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#e0dede;
  }
  
  .header {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
  }
  
  
  /* Style the header links */
  .header .link a,
  .header .dropdown .services-btn {
    color: #fff; /* Set the default color */
    transition: color 0.3s; /* Add a smooth transition for color changes */
  }
  
  /* Change the color when hovered */
  .header .link:hover a,
  .header .dropdown:hover .services-btn {
    color: #06bae7; /* Set the desired blue color */
  }
  
  
  .link {
    background: none;
    border: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 14px 0px 12px 0;
    margin-right: 15px;
    font-size: 12px;
    margin-left: auto;
  }
  
  /* Style the "Services" button */
  .services-button {
    color: rgb(255, 255, 255)
  }
  
  .service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .service-text {
    width: 45%;
  }
  
  .service-image {
    width: 45%;
    max-height: 200px; /* Adjust as needed */
  }
  
  
  /* Style the "About" links */
  .about-link {
    color: rgb(255, 255, 255)
    /* Your styles for the "About" links here */
  }
  
  
  .dropdown.active > .link,
  .link:hover {
    color: rgb(255, 255, 255);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: #202c34;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    display: none;
    pointer-events: none;
    transform: translateY(-10px);
    /* transition: opacity 150ms ease-in-out, transform 150ms ease-in-out; */
    z-index: 100;
  }
  
  
  
  .list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
  }
  
  
  .login-form > input {
    margin-bottom: .5rem;
  }
  
  
  /* Set the "Home" text color to black and remove the underline */
  .link a {
    color: white;
    text-decoration: none;
  }
  
  
  
  .background-container {
    background-image: url('Home-Picture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Vertically align at the top */
    align-items: center; /* Horizontally center text */
  }
  
  .background-container h2 {
    font-family: "Font1", sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    color: #ffffff; 
    text-align: center; 
    margin-top: 10%; 
    margin-right: 30%; /* Move the text 30% to the left */
  }
  
  /* color for the subtext on the main page picture */
  .background-container p {
    font-family: sans-serif; 
    font-size: 16px; 
    font-weight: normal; 
    color: #06bae7; 
    text-align: center; 
    margin-top: 0%; 
    margin-right: 25%;
  } 
  
  .banner-container {
    width: 100%;
    overflow: hidden;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Apply styles as needed */
  ul {
    list-style-type: disc; /* You can change to 'circle' or 'square' if desired */
    margin-top: 10px; /* Adjust margin as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  li {
    margin-bottom: 5px; /* Adjust margin as needed */
  }
  
  
  .accounting-text,
  .taxation-text,
  .assurance-text,
  .risk-text {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: left;
    margin: 20px; /* Adjusted for better responsiveness */
  }
  
  .accounting-text h2,
  .taxation-text h2,
  .assurance-text h2,
  .risk-text h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .accounting-text p,
  .taxation-text p,
  .assurance-text p,
  .risk-text p {
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .service-image,
  .accounting-image,
  .taxation-image,
  .assurance-image,
  .risk-advisory-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
  }
  
  #accounting-image {
    height: 50%;
    margin-left: 0; /* Adjusted for better responsiveness */
    margin-top: -15%;
  }
  
  #taxation-image {
    max-width: 60%;
  }
  
  #assurance-image {
    height: 50%;
    margin-left: 0; /* Adjusted for better responsiveness */
  }
  
  #risk-advisory-image {
    max-width: 100%;
  }
  
  .service-image {
    text-align: right;
  }
  
  .taxation-text h2,
  .taxation-text p {
    margin-left: 0;
    text-align: center;
  }
  
  .taxation-image {
    margin-right: 10%;
  }
  
  .assurance-image {
    margin-left: 10%;
  }
  
  .risk-image {
    margin-right: 10%;
  }
  
  .services-banner-container {
    background-image: url('serv-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* Adjusted for better responsiveness */
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
  }

  .about-banner-container {
    background-image: url('about-banner4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* Adjusted for better responsiveness */
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
  }
  
  #accounting-image {
    width: 50%;
    height: 50%;
    margin-left: 70%; /* Align to the right */
    margin-right: 0; /* Reset margin-right */
    margin-top: -15%;
  }
  
  .services-sub-containers {
    display: flex;
    width: 100%;
  }
  
  .services-sub-containers div {
    flex: 1 1 50%;
    box-sizing: border-box;
  }
  
  .services-img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 15px;
    box-sizing: border-box;
  }
  
  /* Services Button */
  .services-btn {
    /* background-color: #202c34; */
    color: white;
    padding: 0px 0px 12px 0;
    font-size: 12px;
    border: none;
    margin-right: 12px;
    text-decoration: none;
    z-index: 100;
  }
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #393D50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    top: calc(100% + 10px);
    border: 1px solid #99a9b5;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #99a9b5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    font-size: 12px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color: #ffffff; /* Change the text color on hover */
    background-color: transparent; /* Set the background color to transparent to keep it unchanged */
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .services-btn {background-color: #3e8e41;} */
  
  /* Add styles for specific dropdown items */

/* this edits underneath the home page "services" */

.content-boxes {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 100px 0;
}

.services-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 20%;
  margin-right: 20%;
}


.content-box {
  width: 125px; /* Adjust the width as needed */
  margin: 0px; /* Adjust the margin to reduce or increase the distance */
  padding: 10px;
  border: 2px solid #c4c2c2;
  text-align: center;
  transition: border 0.3s; /* Add a transition for a smooth effect */
  font-size: 12px;
  margin-right: 10px; /* Adjust the value as needed */
  color: #767676;
}

.content-box h3{
  margin-top: 10px;
  margin-bottom: 10px;
}


.content-box:hover {
  border: 2px solid #2e6ca4; /* Highlight the border on hover */
}

.box-image img {
  max-width: 100%;
  height: auto;
}

a span {
  display: inline-block; 
  margin-top: 10px; 
  color: #004C6C;
  fill: #004C6C;
  font-weight: 600;
}

.about-us-home h2,
.services-home h2 {
  width: 60%;
  margin: 50px auto 2px; /* Adjust margin-bottom as needed */
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #555555;
}

.about-us-home p,
.services-home p {
  margin: 0 0 25px;
  color: #474747;
  font-size: 13px;
}

/* Home page about section and button */
.about-us-section {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
}
.about-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #282A37; /* You can change this color */
  color: #ffffff; /* Text color */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 60%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.about-button:hover {
  background-color: #382A37; /* Change this color to the desired hover effect */
}

/* edits the text on the 1st picture on services menu */
.services-menu-title-img {
  width: 40%;
  margin: 20px auto 10px; /* Adjust margin-bottom as needed */
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.box-image a {
  outline: none;
}

.box-image img {
  max-width: 100%; /* Ensures the image is responsive */
  height: auto; /* Maintains the aspect ratio */
  width: 125px; /* Adjust the width as needed */
  border: none;
  outline: none;
}

.box-image a:focus {
  /* Add your focus styles, such as a box-shadow or border */
  box-shadow: 0 0 2px 2px #333; /* Dark grey box shadow */
}
.box-text a {
  text-decoration: none; /* Remove underline */
  color: #210101; /* Set the desired text color */
  font-family: Montserrat;
  font-size: 12px;
}
.box-text a:hover {
  color: #5d5d5d; /* Set the text color to blue on hover */
}



.services-menu-title-img{
  background-image: url('services-menu-title-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Vertically align at the top */
    align-items: center; /* Horizontally center text */
    margin-top: 2.5%;
}
.services-menu-title-img h2 {
  color: #F0F8FF;
}

.services-container {
  display: flex;
  justify-content: space-between;
}

.services-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  flex-direction: row;
}

.content-box-services img {
  width: 200px; /* Adjust the width as needed */
  height: 150px; /* Maintain aspect ratio */
  display: block;
  margin-right: 10px;
  margin-bottom: 100px;
}

#accounting-section,
#taxation-section,
#assurance-section,
#risk-advisory-section {
    scroll-margin-top: 30px; /* Adjust the value as needed */
}

.services-menu-text,
.about-us-home-text{
  text-align: left;
  margin: 20px 25% 20px; /* Adjust the margin as needed */
  /* Add any additional styles for the services-menu-text class */
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  margin-bottom: 10px;
}

.about-us-homecontainer{
  background-color: rgb(236, 235, 235);
}


.services-menu-text h2,
.about-us-home-text h2{
  text-align: center;
  margin-bottom: 15px
}

.services-menu-text button,
.about-us-home-text a {
  background-color: #282A37; /* Change this to your desired background color */
  color: #ffffff; /* Change this to your desired text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}


/* Hover effect for the button */
.services-menu-text button:hover {
  background-color: #363947; /* Change this to your desired hover background color */
}


/* Style for the button container */
.services-menu-text {
  text-align: left; 
}



.services-contact-us-text {
    display: block;
    margin-top: 15px; /* Adjust as needed for spacing */
    text-align: left;
    margin-bottom: 25px;
    font-weight: bold;
}

/* Style for the line on services menu*/
.services-menu-text .button-line{
  border-bottom: 3px solid #282A37; /* Change this to your desired line color */
  margin-top: 15px; /* Adjust as needed for spacing */
  margin-bottom: 15px;
}



a {
  text-decoration: none;
  color: inherit;
}

/* Styles specific to the contact page */


.contact-page h2 {
  color: #333; /* Change the text color as needed */
}

.contact-page p {
  color: #555; /* Change the text color as needed */
}

.contact-page .services-home {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9; /* Change the background color as needed */
}

.contact-page .services-container {
  background-color: #f0f0f0; /* Change the background color as needed */
}

.contact-page .content-boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-page .content-box {
  width: 200px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  background-color: #fff; /* Change the background color as needed */
}

.contact-page .box-image img {
  max-width: 100%;
}

.contact-page,
.box-text h3 {
  color: #555555; /* Change the text color as needed */
}

.contact-page footer {
  background-color: #555; /* Change the background color as needed */
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#contact-page body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

#contact-page section {
  margin: 20px;
}

#contact-page nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #282A37;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 5vh;
  padding: 0 20px; /* Adjust padding as needed */
}

#contact-page nav .logo {
  font-size: 12px;
  color: #ffffff;
  margin: 5px;
  cursor: pointer;
  position: relative;
  right: 13.7%; /* Adjust this value as needed */
  text-align: center;
}


#contact-page .dropdown:hover .dropdown-content {
  display: block;
}

#contact-page form {
  max-width: 400px;
  margin: 20px 25%;
}

#contact-page label {
  display: block;
  margin-bottom: 5px;
}

#contact-page input,
#contact-page textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  
  box-sizing: border-box;
}

#contact-page .name-inputs {
  display: flex;
  gap: 5px;
}

#contact-page {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#contact-page main {
  flex: 1;
}

#contact-page footer {
  margin-top: auto;
}

/* Submit button on contact page */
#contact-page input[type="submit"] {
  background-color: #333;
  color: white;
  padding: 5px 10px; /* Adjust the padding as needed */
  border: none;
  cursor: pointer;
  font-size: 12px; 
  width: 75px; 
  display: inline-block;
  margin-left: 25%;
}

/* hovering submit button changes its colour */
#contact-page input[type="submit"]:hover {
  background-color: #555;
  cursor: pointer; /* Change the cursor to a hand when not disabled and hovered */
}


#contact-page section p {
  margin: 0 0px 0 25%;
  font-size: 14px;
}

/* asterisk on contact page */
#contact-page .required {
  color: rgb(192, 4, 4);
  margin-left: 2px;
  vertical-align: text-top;
  font-size: 12px;
}


.name-inputs {
  display: flex;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  position: absolute;
  top: 15%;
  right: 20%;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin-right: 5%;
  margin-top: 1%;
}

.contact-info li {
  margin-bottom: 10px;
}


/* fixes overlapping but messes up my contact boxes */
/* .contact-info, .contact-form-container {
  width: 60%;  Adjust the width as needed, leaving some space for margins 
  float: left;
  margin: 1%;  Adjust the margin as needed 
  box-sizing: border-box;
}  */





.newsletter-section {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: left;
  width: 60%;
  display: flex; 
  align-items: center;
}

.contact-background-container,
.newsletter-background-container{
  width: 100%;
  border: 1px red solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-container {
  max-width: 100%;
}

.newsletter-left-text{
  flex: 1.5;
}

.newsletter-left-text p {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  width:80%;
}

#newsletter-form {
  flex:2;
  display: flex;
  justify-content: center;
}

#newsletter-form input {
  padding: 5px 7px;
  box-sizing: border-box;
  margin-right: 10px;
  width: 200px; /* Adjusted width for better responsiveness */
}


.signup-button {
  background-color: #037390;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  width: 150px; /* Adjusted width for better responsiveness */
}
.signup-button:hover{
  background-color: #0393b7; 
}



/* contact section on home page */

.contact-home-section {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: left;
  width: 60%;
  display: flex; 
  align-items: center;
  gap:365px;
}

.contact-home-text p {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  width:90%;
}


.help-button-container{
  flex:2;
  display: flex;
  justify-content: center;
}

.help-button {
  background-color: #037390;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  width: 150px; /* Adjusted width for better responsiveness */
}

.help-button:hover {
  background-color: #0393b7; 
}

.contact-home-text{
  flex: 1.5;
}